Repository Kodluyoruz/taskforce, pull requests merged in 2021-02, with the labels that each got.

#411 Javascript
  javascript/javascript-temel/array(dizi)-metotlarinin-kullanimi-ve-array-icinde-array-olusturma/README.md
  javascript/javascript-temel/boolean-veri-turu-i̇le-calismak/README.md
  javascript/javascript-temel/break-ve-continue-kullanimi/README.md
  javascript/javascript-temel/coklu-kosul-yapisi-kullanimi/README.md
  javascript/javascript-temel/degisken-tanimlama-kurallari/README.md
  javascript/javascript-temel/degisken-tanimlama-kurallari/figures/confetti.gif
  javascript/javascript-temel/degisken-tanimlama-kurallari/figures/javascript.jpg
  javascript/javascript-temel/degisken-tanimlama-kurallari/figures/source2.gif
  javascript/javascript-temel/degisken-tanimlama-var-es6-ile-birlikte-gelen-let-ve-const-degisken-tanimlama-yapisinin-kullanimi-var-ile-arasindaki-farklar/README.md
  javascript/javascript-temel/degisken-turunu-kontrol-etmek-ve-degisken-turunu-degistirmek/README.md
  javascript/javascript-temel/dizi(array)-olusturmak-ve-dizi-i̇cindeki-elemanlara-ulasmak/README.md
  javascript/javascript-temel/diziye-yeni-eleman-eklemek-cikartmak-ve-guncellemek/README.md
  javascript/javascript-temel/document-object-model(dom)-nedir/README.md
  javascript/javascript-temel/dom'a-css-class-bilgisi-eklemek-veya-cikarmak/README.md
  javascript/javascript-temel/dom-etkinlikleriyle-calismak/README.md
  javascript/javascript-temel/dom-icerisinden-etiket-ve-id-ile-oge-secimi/README.md
  javascript/javascript-temel/fat-arrow-fonksiyonu-kullanimi/README.md
  javascript/javascript-temel/fetch-api-ile-calismak/README.md
  javascript/javascript-temel/filter-ile-array-i̇cerisinde-sadece-i̇stenilen-bilgilerin-yeni-listeye-eklenmesi/README.md
  javascript/javascript-temel/fonksiyon-nedir-neden-kullaniriz/README.md
  javascript/javascript-temel/fonsiyona-parametre(params)-ve-geridonus(return)-eklemek/README.md
  javascript/javascript-temel/for-dongusu-kullanimi/README.md
  javascript/javascript-temel/form-ve-form-submit-yonetimi/README.md
  javascript/javascript-temel/helloworld/README.md
  javascript/javascript-temel/input-icerisinden-deger-almak/README.md
  javascript/javascript-temel/içerikler.md
  javascript/javascript-temel/javascript-nedir/README.md
  javascript/javascript-temel/karsilastirma-operatorleri-ve-mantiksal-operatorler/README.md
  javascript/javascript-temel/kosul-yapisi-kullanimi-(if-else)/README.md
  javascript/javascript-temel/liste-icerisindeki-ogeye-erismek-ve-yeni-oge-eklemek/README.md
  javascript/javascript-temel/localstorage-icerisine-farkli-turde-veriler-eklemek/README.md
  javascript/javascript-temel/localstorage-ile-veri-eklemek-duzenlemek-ve-silmek/README.md
  javascript/javascript-temel/map-ile-array-i̇cerisideki-yapinin-degistirilerek-yeni-liste-olusturulmasi/README.md
  javascript/javascript-temel/nesnelere-nasil-metot-ekleriz/README.md
  javascript/javascript-temel/number-veri-turu-kullanimi-temel-aritmetik-i̇slemler-ve-i̇slem-onceligi-ve-arttirma-ve-azaltma-i̇slemleri/README.md
  javascript/javascript-temel/object(nesne)-nedir-nasil-olusturulur/README.md
  javascript/javascript-temel/object-anahtar(key)-ve-deger(value)-yapisinin-kullanimi-erisimi/README.md
  javascript/javascript-temel/object-ve-array-destructuring-kullanimi/README.md
  javascript/javascript-temel/prompt-ile-kullanicidan-bilgi-almak/README.md
  javascript/javascript-temel/readme.md
  javascript/javascript-temel/string-veri-turu-i̇slemleri/README.md
  javascript/javascript-temel/template-literals-kullanimi/README.md
  javascript/javascript-temel/ternary-operator(-kosul-dogruysa-yanlissa)-ile-if-kullanimi/README.md
  javascript/javascript-temel/try-ve-catch-kullanimi/README.md
  javascript/javascript-temel/while-dongusu/README.md
Labels: JavaScript

#412 Javascript
  javascript/javascript-temel/içerikler.md
  javascript/javascript-temel/readme.md
  javascript/javascript-temel/ternary-operator-kosul-dogruysa-yanlissa-ile-if-kullanimi/README.md
  javascript/javascript-temel/ternary-operator-kosul-dogruysa-yanlissa-ile-if-kullanimi/figures/TernaryOperator.jpg
Labels: JavaScript

#413 readme güncellendi
  javascript/javascript-temel/ternary-operator-kosul-dogruysa-yanlissa-ile-if-kullanimi/README.md
Labels: JavaScript

#414 Bootstrap
  bootstrap/12lik-izgaragrid-sistemini-anlamak/README.md
  bootstrap/bootstrap-4-dokumanlarina-ulasmak-ve-bootstrap-5-hakkinda/README.md
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/README.md
  bootstrap/bootstrap-ekran-cozunurlugu-cihaz-duyarliresponsive-kolon-yapisi-kullanimlari/README.md
  bootstrap/bootstrap-genel-tutucucontainer,-satir-bloklarirow-ve-koloncol-yapisi/README.md
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/README.md
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/figures/bootstrap.png
  bootstrap/bootstrap-nedir/README.md
  bootstrap/bootstrap-offset-kullanimi/README.md
  bootstrap/bootstrap-renk-strandartlari,-tipgrafi,-margin-ve-padding-kullanimi/README.md
  bootstrap/bootstrap-satir-bloklari-row-kullanimi/README.md
  bootstrap/bootstrap-siralama-ozellikleri-kullanarak-responsive-yapiya-gore-tepkilerin-duzenlenmesi/README.md
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/README.md
  bootstrap/içerikler.md
  bootstrap/odev1/README.md
  bootstrap/odev2/README.md
Labels: Bootstrap

#415 Css
  css/aciklama-satirlari-ile-calismak-ve-genel-font-ozellikleri/README.md
  css/css-ile-class-ve-id-kullanimi/README.md
  css/css-kutu-ozelliklerimargin,-padding,-width,-height-kullanimi/README.md
  css/css-nedir/README.md
  css/css-ozet-calismasi-ve-kendimi-css-konusunda-nasil-gelistirebilirim/README.md
  css/css-seciciler-ile-calismak,-i̇stedigimiz-html-etiket-yapisina-ozelliklik-ekleyebilmek/README.md
  css/inlineetikete-ozel,-internalayni-dosyada-ve-externalcss-dosyasinda-css-kullanimi/README.md
  css/içerikler.md
Labels: CSS

#416 Git
  git/README.md
  git/git-bash-ile-git-temel-komutlari/README.md
  git/git-kurulumu/readme.md
  git/git-proje-i̇cindeki-birden-fazla-dosyanin-versiyon-kontrol-sistemine-eklenebilmesi/README.md
  git/git-versiyon-kontrol-sistemi-nedir/README.md
  git/githuba-projemizin-eklenmesi-ve-diger-repo-hosting-web-platformlari/README.md
  git/gitignore-dosyasi-ne-i̇se-yarar-nasil-kullaniriz/README.md
  git/içerikler.md
  git/markdown-nedir-nasil-kullaniriz-/README.md
  git/odev1/README.md
  git/vs-code-icerisinde-terminal-kullanmadan-git-temel-komutlari/README.md
  git/vs-code-icinde-terminal-kullanarak-git-temel-komutlari/README.md
Labels: GIT

#417 Html
  html/aciklama-satirlari-olusturmak/README.md
  html/baslik-etiketleri-kullanimi/README.md
  html/basliklar-ve-paragraflarla-calismak/README.md
  html/diger-html-etiketleri-hakkinda/README.md
  html/emmet-ile-daha-hizli-html-yapilari-olusturmak/README.md
  html/en-cok-kullanilan-html-etiketleri-nelerdir/README.md
  html/etiketlerine-ekstra-ozellikler-eklemek/README.md
  html/gorsellerle-calismak/README.md
  html/html-nedir/README.md
  html/içerikler.md
  html/i̇skeletinin-genel-yapisini-anlamak/README.md
  html/linklerle-calismak/README.md
  html/listelerle-calismak/README.md
  html/odev1/README.md
  html/odev2/README.md
  html/odev3/README.md
  html/semanticanlamlandirilmis-html-etiketleri-kullanimi/README.md
  html/vs-code-ile-calismak-ve-i̇lk-html-sayfasinin-web-tarayicida-gosterilmesi/README.md
Labels: HTML

#420 Javascript
  javascript/javascript-temel/coklu-kosul-yapisi-kullanimi/README.md
  javascript/javascript-temel/document-object-model(dom)-nedir/README.md
  javascript/javascript-temel/fetch-api-ile-calismak/README.md
  javascript/javascript-temel/form-ve-form-submit-yonetimi/README.md
  javascript/javascript-temel/içerikler.md
  javascript/javascript-temel/javascript-nedir/README.md
  javascript/javascript-temel/localstorage-icerisine-farkli-turde-veriler-eklemek/README.md
  javascript/javascript-temel/object-ve-array-destructuring-kullanimi/README.md
  javascript/javascript-temel/string-veri-turu-i̇slemleri/README.md
  javascript/javascript-temel/while-dongusu/README.md
Labels: JavaScript

#425 readme eklendi
  basics-for-everyone/backend-nedir/figures/backend1.png
  basics-for-everyone/backend-nedir/figures/backend2.png
  basics-for-everyone/backend-nedir/readme.md
  basics-for-everyone/frontend-nedir/figures/frontend1.png
  basics-for-everyone/frontend-nedir/figures/frontend2.png
  basics-for-everyone/frontend-nedir/readme.md
  basics-for-everyone/frontend-vs-backend/figures/backend-vs-frontend1.png
  basics-for-everyone/frontend-vs-backend/figures/frontend-vs-backend2.jpg
  basics-for-everyone/frontend-vs-backend/figures/frontend-vs-backend3.png
  basics-for-everyone/frontend-vs-backend/figures/frontend-vs-backend4.jpg
  basics-for-everyone/frontend-vs-backend/figures/fullstack.png
  basics-for-everyone/frontend-vs-backend/readme.md
Labels: Basic for Everyone

#426 readme güncellendi
  basics-for-everyone/backend-nedir/readme.md
  basics-for-everyone/frontend-nedir/readme.md
  basics-for-everyone/frontend-vs-backend/readme.md
Labels: Basic for Everyone

#429 Css
  css/css-kutu-ozelliklerimargin,-padding,-width,-height-kullanimi/README.md
  css/css-nedir/README.md
  css/inlineetikete-ozel,-internalayni-dosyada-ve-externalcss-dosyasinda-css-kullanimi/README.md
Labels: CSS

#431 Codepen bağlantısı güncellendi.
  bootstrap/bootstrap-offset-kullanimi/README.md
Labels: Bootstrap

#432 Html codepen içerikleri eklendi.
  html/aciklama-satirlari-olusturmak/README.md
  html/en-cok-kullanilan-html-etiketleri-nelerdir/README.md
  html/gorsellerle-calismak/README.md
  html/html-nedir/README.md
  html/içerikler.md
  html/i̇skeletinin-genel-yapisini-anlamak/README.md
  html/i̇skeletinin-genel-yapisini-anlamak/figures/html.jpg
  html/linklerle-calismak/README.md
  html/listelerle-calismak/README.md
Labels: HTML

#433 Fix typo
  react-js/component-lifecycle/Readme.md
Labels: React

#434 Basics
  basics-for-everyone/frontend-nedir/readme.md
  basics-for-everyone/içerikler.md
Labels: Basic for Everyone

#430 Java1
  java/java-102/java-synchronized/readme.md
  java/java-102/java-volatile/figures/volatile.png
  java/java-102/java-volatile/figures/volatile_osman_deniz.png
  java/java-102/java-volatile/readme.md
Labels: Java 102

#453 Codepen bağlantısı güncellendi.
  javascript/javascript-temel/dom-etkinlikleriyle-calismak/README.md
Labels: JavaScript

#454 Javascript
  javascript/javascript-temel/array(dizi)-metotlarinin-kullanimi-ve-array-icinde-array-olusturma/README.md
  javascript/javascript-temel/diziye-yeni-eleman-eklemek-cikartmak-ve-guncellemek/README.md
  javascript/javascript-temel/form-ve-form-submit-yonetimi/README.md
  javascript/javascript-temel/formlarla-calismak-bolum-sonu-egzersizi/README.md
  javascript/javascript-temel/input-icerisinden-deger-almak/README.md
  javascript/javascript-temel/localstorage-ile-veri-eklemek-duzenlemek-ve-silmek/README.md
Labels: JavaScript

#455 dosya ismi güncellendi.
  javascript/javascript-temel/kosul-yapisi-kullanimi-if-else/README.md
  javascript/javascript-temel/readme.md
Labels: JavaScript

#456 Javascript
  javascript/javascript-temel/array(dizi)-metotlarinin-kullanimi-ve-array-icinde-array-olusturma/README.md
  javascript/javascript-temel/filter-ile-array-i̇cerisinde-sadece-i̇stenilen-bilgilerin-yeni-listeye-eklenmesi/README.md
  javascript/javascript-temel/for-dongusu-kullanimi/README.md
  javascript/javascript-temel/foreach-ile-array-icerisindeki-ogelerin-cagrilmasi/README.md
  javascript/javascript-temel/içerikler.md
  javascript/javascript-temel/map-ile-array-i̇cerisideki-yapinin-degistirilerek-yeni-liste-olusturulmasi/README.md
  javascript/javascript-temel/while-dongusu/README.md
Labels: JavaScript

#449 Readme Update !
  java/java-oop/oop-polymorphism/readme.md
  java/java-oop/overriding-metods/readme.md
Labels: Java OOP

#457 Javascript
  javascript/javascript-temel/odev2/README.md
  javascript/javascript-temel/odev3/README.md
Labels: JavaScript

#458 Javascript
  javascript/javascript-temel/fetch-api-ile-calismak/README.md
  javascript/javascript-temel/içerikler.md
  javascript/javascript-temel/object(nesne)-nedir-nasil-olusturulur/README.md
  javascript/javascript-temel/object-anahtar(key)-ve-deger(value)-yapisinin-kullanimi-erisimi/README.md
  javascript/javascript-temel/object-ve-array-destructuring-kullanimi/README.md
  javascript/javascript-temel/try-ve-catch-kullanimi/README.md
Labels: JavaScript

#448 Düzenlendi ve eklemeler yapıldı.
  java/java-oop/instanceof/readme.md
  java/java-oop/single-inheritance/figures/singleInheritance.png
  java/java-oop/single-inheritance/readme.md
Labels: Java OOP

#447 Java1
  java/java-oop/hierarchical-inheritance/hierarchical_inheritance.png
  java/java-oop/hierarchical-inheritance/readme.md
  java/java-oop/multilevel-inheritance/multilevel_inheritance.png
  java/java-oop/multilevel-inheritance/readme.md
Labels: Java OOP

#446 Java1
  java/java-oop/comparable-interface/readme.md
  java/java-oop/comparator-interface/readme.md
Labels: Java OOP

#445 Java1
  java/java-db/veri-tabani-yonetim-sistemleri/readme.md
Labels: JavaDB

#444 Update readme.md
  java/java-102/map-interface/readme.md
Labels: Java 102

#462 Java1
  java/java-oop/comparator-interface/readme.md
Labels: Java OOP

#443 ThreadPooling
  java/java-101/threadpooling/figures/Executors.png
  java/java-101/threadpooling/readme.md
Labels: Java 101

#441 Update readme.md
  java/java-102/jenerik-sinif-yazmak/readme.md
  java/java-102/jenerikler-ilkel-veri-turleri-uzerinde-calismaz/readme.md
Labels: Java 102

#439 Update readme.md
  java/java-102/lambda-expressions/readme.md
Labels: Java 102

#438 Update implementing classes
  java/java-102/implementing-classes/readme.md
Labels: Java 102

#437 Update readme.md
  java/java-102/diamond-operatoru/readme.md
  java/java-102/jenerik-kisitlamalari/readme.md
Labels: Java 102

#435 updated
  java/java-102/paylasimli-durum-ayrik-durum/readme.md
  java/java-db/iliski-turleri/figures/bire-cok-iliski.png
  java/java-db/iliski-turleri/readme.md
  java/java-db/iliskisel-veri-tabani-yonetim-sistemi/figures/image_1.PNG
  java/java-db/iliskisel-veri-tabani-yonetim-sistemi/readme.md
Labels: Java 102

#459 İnternet-Sorular
  basics-for-everyone/internet-sifreleme/figures/Sezar_3_anahtar.gif
  basics-for-everyone/internet-sifreleme/readme.md
  basics-for-everyone/içerikler.md
  basics-for-everyone/siber-guvenlik/readme.md
Labels: Basic for Everyone

#228 title improvoment
  bootstrap/bootstrap-siralama-ozellikleri-kullanarak-responsive-yapiya-gore-tepkilerin-duzenlenmesi/README.md
  bootstrap/bootstrap-siralama-ozellikleri-kullanarak-responsive-yapiya-gore-tepkilerin-duzenlenmesi/figures/ikinci.png
  bootstrap/bootstrap-siralama-ozellikleri-kullanarak-responsive-yapiya-gore-tepkilerin-duzenlenmesi/figures/ikinciicerik.png
  bootstrap/bootstrap-siralama-ozellikleri-kullanarak-responsive-yapiya-gore-tepkilerin-duzenlenmesi/figures/ikinciicerikduzenlenmis.png
  bootstrap/bootstrap-siralama-ozellikleri-kullanarak-responsive-yapiya-gore-tepkilerin-duzenlenmesi/figures/ilk.png
Labels: Bootstrap

#469 Java1
  java/java-102/diamond-operatoru/readme.md
  java/java-102/jenerik-kisitlamalari/readme.md
Labels: Java 102

#466 Java1
  java/java-102/paylasimli-durum-ayrik-durum/readme.md
  java/java-db/iliski-turleri/readme.md
  java/java-db/iliskisel-veri-tabani-yonetim-sistemi/readme.md
Labels: Java 102

#463 Update readme.md
  java/java-102/lambda-expressions/readme.md
Labels: Java 102

#470 Update readme.md
  java/java-102/diamond-operatoru/readme.md
Labels: Java 102

#478 Java1
  java/java-oop/hierarchical-inheritance/readme.md
Labels: Java OOP

#477 2 basit soru ve kaynak eklendi
  java/java-102/jenerik-sinif-yazmak/readme.md
Labels: Java 102

#476 Java1
  java/java-db/jdbc-transaction-yonetimi/figures/1.png
  java/java-db/jdbc-transaction-yonetimi/figures/2.png
  java/java-db/jdbc-transaction-yonetimi/readme.md
  java/java-db/jdbc/figures/JDBC_Architecture.jpg
  java/java-db/jdbc/figures/jdbc-interfaces.png
  java/java-db/jdbc/readme.md
Labels: JavaDB

#475 Update readme.md
  java/java-oop/oop-encapsulation/readme.md
Labels: Java OOP

#472 Enumeration Update
  java/java-oop/enumeration-interface/readme.md
Labels: Java OOP

#480 Java1
  java/java-oop/oop-encapsulation/figures/Encapsulation.PNG
  java/java-oop/oop-encapsulation/readme.md
Labels: Java OOP

#479 Java1
  java/java-db/jdbc-transaction-yonetimi/readme.md
  java/java-db/jdbc/readme.md
Labels: JavaDB

#482 Java1 - Polymorphism ve Overriding
  java/java-oop/oop-polymorphism/readme.md
  java/java-oop/overriding-metods/readme.md
Labels: Java OOP

#484 Java1
  java/java-oop/overriding-metods/readme.md
Labels: Java OOP

#485 Java1
  java/java-102/paylasimli-durum-ayrik-durum/readme.md
Labels: Java 102

#491 içerikler.md güncellendi
  basics-for-everyone/içerikler.md
Labels: Basic for Everyone
