Repository Kodluyoruz/taskforce, pull requests merged in 2021-01, with the labels that each got.

#177 Bootstrap Display Özellikleri ile Responsive Yapıya Göre İstenilen Blokların Gösterilmesi / Gizlenmesi
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/README.md
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures./1200.png
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures./420.png
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures./576.png
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures./768.png
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures./992.png
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures./readme.md
Labels: Bootstrap

#176 diğer-html-tagleri-hakkında içerik eklendi
  html/diger-html-etiketleri-hakkinda/README.md
Labels: HTML

#172 Update README.md
  javascript/javascript-temel/map-ile-array-i̇cerisideki-yapinin-degistirilerek-yeni-liste-olusturulmasi/README.md
Labels: JavaScript

#149 Css nedir
  css/css-nedir/README.md
  css/css-nedir/png1.png
  css/css-nedir/png2.png
Labels: CSS

#178 Revert "Bootstrap Display Özellikleri ile Responsive Yapıya Göre İstenilen Blokların Gösterilmesi / Gizlenmesi"
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/README.md
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures./1200.png
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures./420.png
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures./576.png
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures./768.png
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures./992.png
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures./readme.md
Labels: Bootstrap, Gelişmesi gerekiyor

#169 Fat Arrow Kullanımı
  javascript/javascript-temel/fat-arrow-fonksiyonu-kullanimi/README.md
Labels: JavaScript

#161 Temel-Aritmetik Operatörler ve Eşitlik-İlişkisel Operatörler güncel
  java/java-101/iliskisel-esiktik-oparotorleri/readme.md
  java/java-101/operatorler-aritmatik-operatoru/readme.md
Labels: Java 101

#164 DOM'a CSS Class Bilgisi Eklemek veya Çıkarmak
  javascript/javascript-temel/dom'a-css-class-bilgisi-eklemek-veya-cikarmak/README.md
Labels: JavaScript

#162 Update README.md
  javascript/javascript-temel/array(dizi)-metotlarinin-kullanimi-ve-array-icinde-array-olusturma/README.md
  javascript/javascript-temel/nesnelere-nasil-metot-ekleriz/README.md
Labels: JavaScript

#179 Update README.md
  javascript/javascript-temel/number-veri-turu-kullanimi-temel-aritmetik-i̇slemler-ve-i̇slem-onceligi-ve-arttirma-ve-azaltma-i̇slemleri/README.md
Labels: JavaScript

#153 Bootstrap Renk standartları, tipografi ve margin padding kullanımı için readme oluşturuldu.
  bootstrap/bootstrap-renk-strandartlari,-tipgrafi,-margin-ve-padding-kullanimi/README.md
Labels: Bootstrap

#150 vs code ile çalışmak ve ilk HTML sayfasının Web tarayıcısında gösterilmesi
  html/vs-code-ile-calismak-ve-i̇lk-html-sayfasinin-web-tarayicida-gosterilmesi/README.md
  html/vs-code-ile-calismak-ve-i̇lk-html-sayfasinin-web-tarayicida-gosterilmesi/figures/readme-images.png
  html/vs-code-ile-calismak-ve-i̇lk-html-sayfasinin-web-tarayicida-gosterilmesi/figures/vscode-dosya.png
  html/vs-code-ile-calismak-ve-i̇lk-html-sayfasinin-web-tarayicida-gosterilmesi/figures/vscode-dowloand.png
  html/vs-code-ile-calismak-ve-i̇lk-html-sayfasinin-web-tarayicida-gosterilmesi/figures/vscode-file.png
  html/vs-code-ile-calismak-ve-i̇lk-html-sayfasinin-web-tarayicida-gosterilmesi/figures/vscode-html-1.png
  html/vs-code-ile-calismak-ve-i̇lk-html-sayfasinin-web-tarayicida-gosterilmesi/figures/vscode-html-2.png
  html/vs-code-ile-calismak-ve-i̇lk-html-sayfasinin-web-tarayicida-gosterilmesi/figures/vscode-ilk-html.JPG
  html/vs-code-ile-calismak-ve-i̇lk-html-sayfasinin-web-tarayicida-gosterilmesi/figures/vscode-kayit.png
  html/vs-code-ile-calismak-ve-i̇lk-html-sayfasinin-web-tarayicida-gosterilmesi/figures/vscode-kodluyoruz.JPG
  html/vs-code-ile-calismak-ve-i̇lk-html-sayfasinin-web-tarayicida-gosterilmesi/figures/vscode-start.jpg
  java/java-101/readme.md
Labels: HTML

#181 Update README.md
  javascript/javascript-temel/diziye-yeni-eleman-eklemek-cikartmak-ve-guncellemek/README.md
Labels: JavaScript

#146 Numbers-Strings
  java/java-101/numbers-strings/readme.md
Labels: Java 101

#145 Bitsel Operatörler Düzenlemesi
  java/java-101/bitsel-operatorler/readme.md
Labels: Java 101

#144 Css
  css/css-ozet-calismasi-ve-kendimi-css-konusunda-nasil-gelistirebilirim/README.md
Labels: CSS

#143 Bootstrap
  bootstrap/bootstrap-siralama-ozellikleri-kullanarak-responsive-yapiya-gore-tepkilerin-duzenlenmesi/README.md
Labels: Bootstrap

#142 Update README.md
  javascript/javascript-temel/break-ve-continue-kullanimi/README.md
Labels: JavaScript

#140 Html - readme update file
  html/semanticanlamlandirilmis-html-etiketleri-kullanimi/README.md
Labels: HTML

#139 Css
  css/inlineetikete-ozel,-internalayni-dosyada-ve-externalcss-dosyasinda-css-kullanimi/README.md
  css/inlineetikete-ozel,-internalayni-dosyada-ve-externalcss-dosyasinda-css-kullanimi/figures/css-nedir.jpg
  css/inlineetikete-ozel,-internalayni-dosyada-ve-externalcss-dosyasinda-css-kullanimi/figures/css-yapisi.jpg
  css/inlineetikete-ozel,-internalayni-dosyada-ve-externalcss-dosyasinda-css-kullanimi/figures/internal-css.png
Labels: CSS

#134 Update README.md
  javascript/javascript-temel/try-ve-catch-kullanimi/README.md
Labels: JavaScript

#76 Add files via upload
  javascript/javascript-temel/prompt-ile-kullanicidan-bilgi-almak/README.md
  javascript/javascript-temel/template-literals-kullanimi/README.md
Labels: JavaScript

#79 Update README.md
  javascript/javascript-temel/Optional chaining/readme.md
  javascript/javascript-temel/form-ve-form-submit-yonetimi/README.md
Labels: Gelişmesi gerekiyor, JavaScript

#80 DegiskenTanimlama.md
  javascript/javascript-temel/degisken-tanimlama-var-es6-ile-birlikte-gelen-let-ve-const-degisken-tanimlama-yapisinin-kullanimi-var-ile-arasindaki-farklar/README.md
Labels: JavaScript

#81 README.md
  javascript/javascript-temel/array(dizi)-metotlarinin-kullanimi-ve-array-icinde-array-olusturma/README.md
  javascript/javascript-temel/boolean-veri-turu-i̇le-calismak/README.md
  javascript/javascript-temel/break-ve-continue-kullanimi/README.md
  javascript/javascript-temel/coklu-kosul-yapisi-kullanimi/README.md
  javascript/javascript-temel/degisken-tanimlama-var-es6-ile-birlikte-gelen-let-ve-const-degisken-tanimlama-yapisinin-kullanimi-var-ile-arasindaki-farklar/README.md
  javascript/javascript-temel/degisken-turunu-kontrol-etmek-ve-degisken-turunu-degistirmek/README.md
  javascript/javascript-temel/dizi(array)-olusturmak-ve-dizi-i̇cindeki-elemanlara-ulasmak/README.md
  javascript/javascript-temel/diziye-yeni-eleman-eklemek-cikartmak-ve-guncellemek/README.md
  javascript/javascript-temel/document-object-model(dom)-nedir/README.md
  javascript/javascript-temel/dom'a-css-class-bilgisi-eklemek-veya-cikarmak/README.md
  javascript/javascript-temel/dom-etkinlikleriyle-calismak/README.md
  javascript/javascript-temel/dom-icerisinden-etiket-ve-id-ile-oge-secimi/README.md
  javascript/javascript-temel/fat-arrow-fonksiyonu-kullanimi/README.md
  javascript/javascript-temel/fetch-api-ile-calismak/README.md
  javascript/javascript-temel/filter-ile-array-i̇cerisinde-sadece-i̇stenilen-bilgilerin-yeni-listeye-eklenmesi/README.md
  javascript/javascript-temel/fonksiyon-nedir-neden-kullaniriz/README.md
  javascript/javascript-temel/fonsiyona-parametre(params)-ve-geridonus(return)-eklemek/README.md
  javascript/javascript-temel/for-dongusu-kullanimi/README.md
  javascript/javascript-temel/foreach-ile-array-icerisindeki-ogelerin-cagrilmasi/README.md
  javascript/javascript-temel/form-ve-form-submit-yonetimi/README.md
  javascript/javascript-temel/helloworld/README.md
  javascript/javascript-temel/input-icerisinden-deger-almak/README.md
  javascript/javascript-temel/javascript-nedir/README.md
  javascript/javascript-temel/karsilastirma-operatorleri-ve-mantiksal-operatorler/README.md
  javascript/javascript-temel/kosul-yapisi-kullanimi-(if-else)/README.md
  javascript/javascript-temel/liste-icerisindeki-ogeye-erismek-ve-yeni-oge-eklemek/README.md
  javascript/javascript-temel/localstorage-icerisine-farkli-turde-veriler-eklemek/README.md
  javascript/javascript-temel/localstorage-ile-veri-eklemek-duzenlemek-ve-silmek/README.md
  javascript/javascript-temel/map-ile-array-i̇cerisideki-yapinin-degistirilerek-yeni-liste-olusturulmasi/README.md
  javascript/javascript-temel/nesnelere-nasil-metot-ekleriz/README.md
  javascript/javascript-temel/number-veri-turu-kullanimi-temel-aritmetik-i̇slemler-ve-i̇slem-onceligi-ve-arttirma-ve-azaltma-i̇slemleri/README.md
  javascript/javascript-temel/object(nesne)-nedir-nasil-olusturulur/README.md
  javascript/javascript-temel/object-anahtar(key)-ve-deger(value)-yapisinin-kullanimi-erisimi/README.md
  javascript/javascript-temel/object-ve-array-destructuring-kullanimi/README.md
  javascript/javascript-temel/ornek/figures/javascript-logo.png
  javascript/javascript-temel/ornek/readme.md
  javascript/javascript-temel/prompt-ile-kullanicidan-bilgi-almak/README.md
  javascript/javascript-temel/readme.md
  javascript/javascript-temel/string-veri-turu-i̇slemleri/README.md
  javascript/javascript-temel/template-literals-kullanimi/README.md
  javascript/javascript-temel/ternary-operator(-kosul-dogruysa-yanlissa)-ile-if-kullanimi/README.md
  javascript/javascript-temel/ternary-operator(-kosul-dogruysa-yanlissa)-ile-if-kullanimi/Readme.md
  javascript/javascript-temel/ternary-operator(-kosul-dogruysa-yanlissa)-ile-if-kullanimi/figures/TernaryOperator.JPG
  javascript/javascript-temel/try-ve-catch-kullanimi/README.md
  javascript/javascript-temel/while-dongusu/README.md
Labels: JavaScript

#186 Numbers-Strings Kaynaklar Eklendi.
  java/java-101/numbers-strings/readme.md
Labels: Java 101

#125 Html
  html/gorsellerle-calismak/README.md
Labels: HTML

#165 Update README.md
  javascript/javascript-temel/dizi(array)-olusturmak-ve-dizi-i̇cindeki-elemanlara-ulasmak/README.md
Labels: Gelişmesi gerekiyor, JavaScript

#131 Git - Update readme.md
  git/git-bash-ile-git-temel-komutlari/README.md
  git/git-bash-ile-git-temel-komutlari/figures/1-terminal.jpeg
  git/git-bash-ile-git-temel-komutlari/figures/2-git-bash.png
  git/git-bash-ile-git-temel-komutlari/figures/3-GitHub-cheat-sheet-graphic.jpg
  git/git-bash-ile-git-temel-komutlari/figures/4-git-init.png
  git/git-bash-ile-git-temel-komutlari/figures/5-git-status-1.png
  git/git-bash-ile-git-temel-komutlari/figures/5-git-status-2.png
  git/git-bash-ile-git-temel-komutlari/figures/6-git-log.png
  git/vs-code-icerisinde-terminal-kullanmadan-git-temel-komutlari/README.md
  git/vs-code-icerisinde-terminal-kullanmadan-git-temel-komutlari/figures/1-git-init.png
  git/vs-code-icerisinde-terminal-kullanmadan-git-temel-komutlari/figures/2-git-add-1.png
  git/vs-code-icerisinde-terminal-kullanmadan-git-temel-komutlari/figures/2-git-add-2.png
  git/vs-code-icerisinde-terminal-kullanmadan-git-temel-komutlari/figures/3-git-status-1.png
  git/vs-code-icerisinde-terminal-kullanmadan-git-temel-komutlari/figures/3-git-status-2.png
  git/vs-code-icerisinde-terminal-kullanmadan-git-temel-komutlari/figures/4-git-commit.png
  git/vs-code-icerisinde-terminal-kullanmadan-git-temel-komutlari/figures/5-git-diff.png
  git/vs-code-icerisinde-terminal-kullanmadan-git-temel-komutlari/figures/6-discard-changes.png
  git/vs-code-icerisinde-terminal-kullanmadan-git-temel-komutlari/figures/7-git-push.png
  git/vs-code-icinde-terminal-kullanarak-git-temel-komutlari/README.md
  git/vs-code-icinde-terminal-kullanarak-git-temel-komutlari/figures/1-new-terminal-1.png
  git/vs-code-icinde-terminal-kullanarak-git-temel-komutlari/figures/1-new-terminal-2.png
  git/vs-code-icinde-terminal-kullanarak-git-temel-komutlari/figures/2-GitHub-cheat-sheet-graphic.jpg
  git/vs-code-icinde-terminal-kullanarak-git-temel-komutlari/figures/3-git-init.png
  git/vs-code-icinde-terminal-kullanarak-git-temel-komutlari/figures/4-git-status-1.png
  git/vs-code-icinde-terminal-kullanarak-git-temel-komutlari/figures/4-git-status-2.png
  git/vs-code-icinde-terminal-kullanarak-git-temel-komutlari/figures/5-git-log.png
Labels: GIT

#88 Update README.md
  html/en-cok-kullanilan-html-etiketleri-nelerdir/README.md
Labels: HTML

#148 Java1
  java/java-101/switch-case/flow_chart.png
  java/java-101/switch-case/readme.md
  java/java-101/switch-case/switchCase01-.jpeg
  java/java-101/switch-case/switchCase01.jpeg
  java/java-101/switch-case/switchCase02.png
  java/java-101/switch-case/switchCase03.png
Labels: Java 101

#117 HTML İskeletinin Genel Yapısını Anlamak
  html/i̇skeletinin-genel-yapisini-anlamak/README.md
  html/i̇skeletinin-genel-yapisini-anlamak/figures/html.jpg
Labels: HTML

#170 HTML Nedir?
  html/html-nedir/README.md
Labels: HTML

#118 Css
  css/css-kutu-ozelliklerimargin,-padding,-width,-height-kullanimi/README.md
  css/css-kutu-ozelliklerimargin,-padding,-width,-height-kullanimi/figures/box.png
  css/css-kutu-ozelliklerimargin,-padding,-width,-height-kullanimi/figures/boxmodel_.png
Labels: CSS

#121 Javascript
  javascript/javascript-temel/coklu-kosul-yapisi-kullanimi/README.md
  javascript/javascript-temel/coklu-kosul-yapisi-kullanimi/figures/switch-akis-diyagrami.png
Labels: JavaScript

#189 Kaynaklar Eklendi
  java/java-101/iliskisel-esiktik-oparotorleri/readme.md
  java/java-101/operatorler-aritmatik-operatoru/readme.md
Labels: Java 101

#190 soru cevapları eklendi
  git/git-proje-i̇cindeki-birden-fazla-dosyanin-versiyon-kontrol-sistemine-eklenebilmesi/README.md
  git/githuba-projemizin-eklenmesi-ve-diger-repo-hosting-web-platformlari/README.md
Labels: GIT

#95 Css
  css/css-ile-class-ve-id-kullanimi/README.md
  css/css-ile-class-ve-id-kullanimi/assets/Screenshot_1.jpg
  css/css-ile-class-ve-id-kullanimi/assets/Screenshot_10.jpg
  css/css-ile-class-ve-id-kullanimi/assets/Screenshot_2.jpg
  css/css-ile-class-ve-id-kullanimi/assets/Screenshot_3.jpg
  css/css-ile-class-ve-id-kullanimi/assets/Screenshot_4.jpg
  css/css-ile-class-ve-id-kullanimi/assets/Screenshot_5.jpg
  css/css-ile-class-ve-id-kullanimi/assets/Screenshot_6.jpg
  css/css-ile-class-ve-id-kullanimi/assets/Screenshot_7.jpg
  css/css-ile-class-ve-id-kullanimi/assets/Screenshot_8.jpg
  css/css-ile-class-ve-id-kullanimi/assets/Screenshot_9.jpg
Labels: CSS

#137 README.md
  javascript/javascript-temel/while-dongusu/README.md
  javascript/javascript-temel/while-dongusu/figures/codexample.png
  javascript/javascript-temel/while-dongusu/figures/psuedo.png
  javascript/javascript-temel/while-dongusu/figures/question.png
Labels: Gelişmesi gerekiyor, JavaScript

#191 Fat Arrow Kullanımı Örnek Sorular Eklemesi
  javascript/javascript-temel/fat-arrow-fonksiyonu-kullanimi/README.md
Labels: JavaScript

#192 Switch Case Update
  java/java-101/switch-case/readme.md
Labels: Java 101

#194 Add files via upload
  javascript/javascript-temel/ternary-operator(-kosul-dogruysa-yanlissa)-ile-if-kullanimi/README.md
  javascript/javascript-temel/ternary-operator(-kosul-dogruysa-yanlissa)-ile-if-kullanimi/figures/TernaryOperator.jpg
Labels: JavaScript

#196 Added sources
  css/css-kutu-ozelliklerimargin,-padding,-width,-height-kullanimi/README.md
Labels: CSS

#197 Bootstrap
  bootstrap/bootstrap-siralama-ozellikleri-kullanarak-responsive-yapiya-gore-tepkilerin-duzenlenmesi/README.md
Labels: Bootstrap

#159 Java1
  java/java-101/degiskenler/figures/default-values.PNG
  java/java-101/degiskenler/figures/degiskenYapisi.png
  java/java-101/degiskenler/readme.md
Labels: Java 101

#158 Updated readme.md
  java/java-101/sabit-degiskenler/figures/final-variable.jpg
  java/java-101/sabit-degiskenler/figures/reference-final-variable.png
  java/java-101/sabit-degiskenler/readme.md
Labels: Java 101

#155 Update readme.md
  java/java-101/if-statements/readme.md
Labels: Java 101

#141 Bazı eklemeler yapıldı
  java/java-101/arrays/readme.md
Labels: Java 101

#85 Update readme.md
  java/java-101/for-each-nested-loops/readme.md
Labels: Java 101

#86 DOM id ile element ve öğe seçimi
  javascript/javascript-temel/dom-icerisinden-etiket-ve-id-ile-oge-secimi/README.md
Labels: JavaScript

#204 Update README.md
  javascript/javascript-temel/coklu-kosul-yapisi-kullanimi/README.md
Labels: JavaScript

#132 KARŞILAŞTIRMA OPERATÖRLERİ VE MANTIKSAL OPERATÖRLER
  javascript/javascript-temel/karsilastirma-operatorleri-ve-mantiksal-operatorler/README.md
Labels: Gelişmesi gerekiyor, JavaScript

#199 resimler duzeltildi
  css/css-ile-class-ve-id-kullanimi/README.md
Labels: CSS

#200 Java1-java/101 file ve input/output sınıfı eklendi
  java/java-101/file-sinifi/readme.md
  java/java-101/input-output-classes/figures/javaio.png
  java/java-101/input-output-classes/readme.md
Labels: Java 101

#201 Fat Arrow - kod bloklarının renklendirilmesi
  javascript/javascript-temel/fat-arrow-fonksiyonu-kullanimi/README.md
Labels: JavaScript

#126 Create forEach.md
  javascript/javascript-temel/foreach-ile-array-icerisindeki-ogelerin-cagrilmasi/README.md
Labels: JavaScript

#203 Javascript
  javascript/javascript-temel/foreach-ile-array-icerisindeki-ogelerin-cagrilmasi/README.md
Labels: JavaScript

#182 Add bootstrap UI components
  bootstrap/README.md
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/README.md
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Accordion.gif
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 1.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 10.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 11.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 12.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 13.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 14.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 15.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 16.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 17.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 18.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 2.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 3.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 4.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 5.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 6.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 7.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 8.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled 9.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/Untitled.png
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/collapse.gif
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/coursel.gif
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/dropdown.gif
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/popovers.gif
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/images/spinners.gif
Labels: Bootstrap, Gelişmesi gerekiyor

#174 added api call
  .DS_Store
  frontend-developer-roadmap-102a-(frameworks-react)/api-call/README.md
  frontend-developer-roadmap-102a-(frameworks-react)/api-call/figures/api-call-output.png
  frontend-developer-roadmap-102a-(frameworks-react)/api-call/figures/api-call-workapi.png
  frontend-developer-roadmap-102a-(frameworks-react)/api-call/figures/api-call.jpg
Labels: React

#138 Java1
  java/java-101/ic-ice-siniflar-(nested-classes)/readme.md
  java/java-101/paketler/figures/import.png
  java/java-101/paketler/figures/paketler.png
  java/java-101/paketler/readme.md
Labels: Java 101

#136 hello world read.me guncellendi.
  java/java-101/hello-world/figures/hello_world.png
  java/java-101/hello-world/figures/hello_world_10.png
  java/java-101/hello-world/figures/hello_world_4.png
  java/java-101/hello-world/figures/hello_world_5.png
  java/java-101/hello-world/readme.md
Labels: Java 101

#135 Update readme.md
  java/java-101/tur-donusumleri/readme.md
Labels: Java 101

#130 matrisler readme güncellendi
  java/java-101/matris-islemleri/figures/matrices_5.PNG
  java/java-101/matris-islemleri/readme.md
Labels: Java 101

#124 Java Basic Syntax
  java/java-101/java-basic-syntax/readme.md
Labels: Java 101

#89 readme.md dosyasi detaylandirildi.
  java/java-101/mantıksal-operatorler/figures/logicaloperator.png
  java/java-101/mantıksal-operatorler/readme.md
Labels: Java 101

#96 Java1
  java/java-101/akis-siniflari/figures/akisOrnegi.jpg
  java/java-101/akis-siniflari/figures/byteAkislari.png
  java/java-101/akis-siniflari/figures/karakterAkislari.png
  java/java-101/akis-siniflari/readme.md
  java/java-101/dosya-kopyalamak/figures/BufferedInputStream.png
  java/java-101/dosya-kopyalamak/figures/BufferedOutputStream.png
  java/java-101/dosya-kopyalamak/readme.md
Labels: Java 101

#98 'Exception handling' and 'istisnai-durumlarin-yonetilmesi' review
  java/java-101/exception-handling/figures/exceptions-callstack.png
  java/java-101/exception-handling/readme.md
  java/java-101/istisnai-durumlarin-yonetilmesi/readme.md
Labels: Java 101

#101 For Döngüsü Açıklama
  java/java-101/for-loops/figures/Akış-Şeması.jpg
  java/java-101/for-loops/readme.md
Labels: Java 101

#116 döküman ve sorular
  java/java-101/yerel-degisken/readme.md
Labels: Java 101

#129 Update readme.md,
  java/java-101/yapilandiricidan-digerini-cagirmak/readme.md
  java/java-101/yapilandiricilari-asiri-yuklemek/readme.md
Labels: Java 101

#93 Update readme.md
  java/java-101/uygulama-alanlari/readme.md
Labels: Java 101

#122 Update readme.md
  java/java-101/what-is-java/readme.md
Labels: Java 101

#120 Update readme.md
  java/java-101/while/readme.md
Labels: Java 101

#107 Update readme.md
  java/java-101/unicode-karakter-sistemi/readme.md
Labels: Java 101

#99 Update readme.md
  java/java-101/metotlara-giris/readme.md
  java/java-101/metotlari-asiri-yuklemek-(overloading-methods)/readme.md
Labels: Java 101

#105 DateTimeFormatter ve LocalDateTime Eklendi
  java/java-101/date-time/figures/Date_Util.jpg
  java/java-101/date-time/readme.md
Labels: Java 101

#104 Update veri-tipleri.md
  java/java-101/veri-tipleri/readme.md
Labels: Java 101

#94 Git Versiyon Kontrol Sistemi Nedir?
  git/git-versiyon-kontrol-sistemi-nedir/README.md
  git/markdown-nedir-nasil-kullaniriz-/README.md
Labels: GIT

#108 Css
  css/aciklama-satirlari-ile-calismak-ve-genel-font-ozellikleri/README.md
Labels: CSS

#215 Update readme.md
  java/java-101/for-each-nested-loops/readme.md
Labels: Java 101

#214 Java1/Java101 File ve input output class'a kaynak eklendi
  java/java-101/file-sinifi/readme.md
  java/java-101/input-output-classes/readme.md
Labels: Java 101

#213 Html
  html/etiketlerine-ekstra-ozellikler-eklemek/README.md
Labels: HTML

#208 Javascript
  javascript/javascript-temel/dom-etkinlikleriyle-calismak/README.md
Labels: JavaScript

#209 kaynaklar eklendi
  css/css-seciciler-ile-calismak,-i̇stedigimiz-html-etiket-yapisina-ozelliklik-ekleyebilmek/README.md
Labels: CSS

#123 readme dosyası eklendi
  html/listelerle-calismak/README.md
  html/listelerle-calismak/figures/alfabetik.PNG
  html/listelerle-calismak/figures/kare.PNG
  html/listelerle-calismak/figures/roma.PNG
  html/listelerle-calismak/figures/siralama.png
  html/listelerle-calismak/figures/sıra.PNG
Labels: HTML

#119 HTML Başlıklar ve Paragraflarla Çalışmak README.md
  html/basliklar-ve-paragraflarla-calismak/README.md
Labels: HTML

#111 Update README.md
  html/aciklama-satirlari-olusturmak/README.md
Labels: HTML

#113 Başlık Etiketlerinin Kullanımı
  html/baslik-etiketleri-kullanimi/README.md
Labels: HTML

#115 Bootstrap
  bootstrap/12lik-izgaragrid-sistemini-anlamak/README.md
  bootstrap/12lik-izgaragrid-sistemini-anlamak/figures/esit-kolonlu-tasarim.jpg
  bootstrap/12lik-izgaragrid-sistemini-anlamak/figures/esit-olmayan-kolonlar.jpg
  bootstrap/12lik-izgaragrid-sistemini-anlamak/figures/icice-izgara-sistemi.jpg
  bootstrap/12lik-izgaragrid-sistemini-anlamak/figures/izgara-sistemi.jpg
  bootstrap/12lik-izgaragrid-sistemini-anlamak/figures/kolon-siralama.jpg
  bootstrap/12lik-izgaragrid-sistemini-anlamak/figures/ornek-sayfa.jpg
  bootstrap/12lik-izgaragrid-sistemini-anlamak/figures/ornekler.jpg
  bootstrap/12lik-izgaragrid-sistemini-anlamak/figures/uygulama.jpg
Labels: Bootstrap

#112 Javascript
  javascript/javascript-temel/object-anahtar(key)-ve-deger(value)-yapisinin-kullanimi-erisimi/README.md
Labels: JavaScript

#110 Javascript for döngüsü kullanımı
  javascript/javascript-temel/for-dongusu-kullanimi/README.md
Labels: JavaScript

#109 Update README.md
  javascript/javascript-temel/fonsiyona-parametre(params)-ve-geridonus(return)-eklemek/README.md
Labels: JavaScript

#106 Javascript
  javascript/javascript-temel/fonksiyon-nedir-neden-kullaniriz/README.md
Labels: JavaScript

#102 Bootstrap
  bootstrap/bootstrap-genel-tutucucontainer,-satir-bloklarirow-ve-koloncol-yapisi/README.md
  bootstrap/bootstrap-genel-tutucucontainer,-satir-bloklarirow-ve-koloncol-yapisi/figures/container-sizes.png
  bootstrap/bootstrap-genel-tutucucontainer,-satir-bloklarirow-ve-koloncol-yapisi/figures/grid-details.png
  bootstrap/bootstrap-genel-tutucucontainer,-satir-bloklarirow-ve-koloncol-yapisi/figures/kodluyoruz-container-red.png
  bootstrap/bootstrap-genel-tutucucontainer,-satir-bloklarirow-ve-koloncol-yapisi/figures/kodluyoruz-container.png
  bootstrap/bootstrap-genel-tutucucontainer,-satir-bloklarirow-ve-koloncol-yapisi/figures/overall-grid.png
  bootstrap/bootstrap-genel-tutucucontainer,-satir-bloklarirow-ve-koloncol-yapisi/figures/sample-grid.png
Labels: Bootstrap

#100 Update README.md
  javascript/javascript-temel/boolean-veri-turu-i̇le-calismak/README.md
  javascript/javascript-temel/kosul-yapisi-kullanimi-(if-else)/README.md
Labels: JavaScript

#97 Bootstrap
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/README.md
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/figures/bootstrap.png
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/figures/web-sayfasi.png
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/src/css/style.css
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/src/img/avatar.jpg
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/src/img/kelebek.jpg
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/src/img/kitten.gif
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/src/img/kitten.jpg
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/src/img/kitten2.jpg
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/src/img/kitten3.jpg
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/src/img/kitten4.webp
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/src/img/kitten5.jpg
  bootstrap/bootstrap-kullanarak-web-sitesi-nasil-yapilir-demo/src/index.html
  java/java-101/readme.md
Labels: Bootstrap

#212 Html
  html/html-nedir/README.md
Labels: Branch Hatası!, HTML

#218 Html
  html/baslik-etiketleri-kullanimi/README.md
Labels: HTML

#217 Cevaplar ve Kaynak eklendi
  bootstrap/12lik-izgaragrid-sistemini-anlamak/README.md
Labels: Bootstrap

#216 Update README.md
  html/etiketlerine-ekstra-ozellikler-eklemek/README.md
Labels: HTML

#83 Add files via upload
  javascript/javascript-temel/input-icerisinden-deger-almak/README.md
Labels: JavaScript

#223 Update README.md
  html/baslik-etiketleri-kullanimi/README.md
Labels: HTML

#206 Update README.md
  javascript/javascript-temel/form-ve-form-submit-yonetimi/README.md
Labels: JavaScript

#205 Javascript
  javascript/javascript-temel/degisken-turunu-kontrol-etmek-ve-degisken-turunu-degistirmek/README.md
Labels: JavaScript

#220 Javascript
  javascript/javascript-temel/dom-etkinlikleriyle-calismak/README.md
Labels: JavaScript

#227 Update README.md
  html/aciklama-satirlari-olusturmak/README.md
Labels: HTML

#230 Git Bash - VS Code Terminal ve VS Code Terminal olmadan Git kullanımı için sorular eklendi.
  git/git-bash-ile-git-temel-komutlari/README.md
  git/vs-code-icerisinde-terminal-kullanmadan-git-temel-komutlari/README.md
  git/vs-code-icinde-terminal-kullanarak-git-temel-komutlari/README.md
Labels: GIT

#229 Update README.md
  javascript/javascript-temel/input-icerisinden-deger-almak/README.md
Labels: JavaScript

#232 HTTP
  basics-for-everyone/IP/figures/IP_cs50.PNG
  basics-for-everyone/IP/figures/hangi_yon.PNG
  basics-for-everyone/IP/figures/iletisim.PNG
  basics-for-everyone/IP/figures/network_router_mantigi.PNG
  basics-for-everyone/IP/readme.md
  basics-for-everyone/http/figures/http.png
  basics-for-everyone/http/figures/http_header_body.png
  basics-for-everyone/http/figures/http_istek_yapi.png
  basics-for-everyone/http/figures/http_nedir_cs50.png
  basics-for-everyone/http/figures/http_ornek.png
  basics-for-everyone/http/figures/http_protocol_status_code.png
  basics-for-everyone/http/figures/network_icerik.png
  basics-for-everyone/http/figures/network_sekmesi.png
  basics-for-everyone/http/readme.md
  basics-for-everyone/readme.md
Labels: Basic for Everyone

#231 Java1
  java/java-101/nesne-olusturmak/figures/object.jpg
  java/java-101/nesne-olusturmak/readme.md
  java/java-101/sinif-kavraminin-temelleri/figures/class.jpg
  java/java-101/sinif-kavraminin-temelleri/readme.md
Labels: Java 101

#84 Add files via upload
  javascript/javascript-temel/localstorage-ile-veri-eklemek-duzenlemek-ve-silmek/README.md
Labels: JavaScript

#175 Bootstrap
  bootstrap/bootstrap-satir-bloklari-row-kullanimi/README.md
  bootstrap/bootstrap-satir-bloklari-row-kullanimi/figures/3column.PNG
  bootstrap/bootstrap-satir-bloklari-row-kullanimi/figures/4column.PNG
  bootstrap/bootstrap-satir-bloklari-row-kullanimi/figures/6of6.PNG
  bootstrap/bootstrap-satir-bloklari-row-kullanimi/figures/8of4.PNG
  bootstrap/bootstrap-satir-bloklari-row-kullanimi/figures/Bootstrap-part-2.png
  bootstrap/bootstrap-satir-bloklari-row-kullanimi/figures/img-2.PNG
  bootstrap/bootstrap-satir-bloklari-row-kullanimi/figures/img-6.PNG
  bootstrap/bootstrap-satir-bloklari-row-kullanimi/figures/img-7.PNG
  bootstrap/bootstrap-satir-bloklari-row-kullanimi/figures/img8.PNG
Labels: Bootstrap, Gelişmesi gerekiyor

#238 sorular eklendi
  html/listelerle-calismak/README.md
Labels: HTML

#236 DNS
  basics-for-everyone/DNS/figures/ROOT_DNS.png
  basics-for-everyone/DNS/figures/URL.png
  basics-for-everyone/DNS/figures/video.png
  basics-for-everyone/DNS/readme.md
  basics-for-everyone/readme.md
Labels: Basic for Everyone

#234 Java1
  java/java-101/nesne-olusturmak/readme.md
  java/java-101/sinif-kavraminin-temelleri/readme.md
Labels: Java 101

#235 String işlemleri, Filter metodu, for döngüsü
  javascript/javascript-temel/filter-ile-array-i̇cerisinde-sadece-i̇stenilen-bilgilerin-yeni-listeye-eklenmesi/README.md
  javascript/javascript-temel/for-dongusu-kullanimi/README.md
  javascript/javascript-temel/string-veri-turu-i̇slemleri/README.md
Labels: JavaScript

#257 Doküman Tamamlandı.
  bootstrap/bootstrap-nedir/README.md
  bootstrap/bootstrap-nedir/figures/Bootstrap.png
  bootstrap/bootstrap-nedir/figures/website.png
Labels: Bootstrap

#241 Update-3
  javascript/javascript-temel/fonksiyon-nedir-neden-kullaniriz/README.md
Labels: JavaScript

#240 Update README.md
  javascript/javascript-temel/boolean-veri-turu-i̇le-calismak/README.md
Labels: JavaScript

#266 Css
  css/css-seciciler-ile-calismak,-i̇stedigimiz-html-etiket-yapisina-ozelliklik-ekleyebilmek/README.md
  css/içerikler.md
Labels: CSS

#270 İçeriklerin main içine aktarımı sağlandı.
  git/git-bash-ile-git-temel-komutlari/README.md
  git/git-proje-i̇cindeki-birden-fazla-dosyanin-versiyon-kontrol-sistemine-eklenebilmesi/README.md
  git/git-versiyon-kontrol-sistemi-nedir/README.md
  git/githuba-projemizin-eklenmesi-ve-diger-repo-hosting-web-platformlari/README.md
  git/gitignore-dosyasi-ne-i̇se-yarar-nasil-kullaniriz/README.md
  git/içindekiler.md
  git/markdown-nedir-nasil-kullaniriz-/README.md
  git/vs-code-icerisinde-terminal-kullanmadan-git-temel-komutlari/README.md
  git/vs-code-icinde-terminal-kullanarak-git-temel-komutlari/README.md
Labels: GIT

#274 Css
  css/inlineetikete-ozel,-internalayni-dosyada-ve-externalcss-dosyasinda-css-kullanimi/README.md
  css/içerikler.md
Labels: CSS

#275 Git
  git/git-bash-ile-git-temel-komutlari/README.md
  git/git-proje-i̇cindeki-birden-fazla-dosyanin-versiyon-kontrol-sistemine-eklenebilmesi/README.md
  git/githuba-projemizin-eklenmesi-ve-diger-repo-hosting-web-platformlari/README.md
  git/içerikler.md
  git/markdown-nedir-nasil-kullaniriz-/README.md
  git/markdown-nedir-nasil-kullaniriz-/figures/kodluyoruz_logo.jpg
  git/vs-code-icerisinde-terminal-kullanmadan-git-temel-komutlari/README.md
  git/vs-code-icinde-terminal-kullanarak-git-temel-komutlari/README.md
Labels: GIT

#277 Bootstrap
  bootstrap/12lik-izgaragrid-sistemini-anlamak/README.md
  bootstrap/bootstrap-bilesenlerineui-components-genel-bakis/README.md
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures/.gitignore
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures/1200.png
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures/420.png
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures/576.png
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures/768.png
  bootstrap/display-ozellikleri-ile-responsive-yapiya-gore-i̇stenilen-bloklarin-gosterilmesi-gizlenmesi/figures/992.png
Labels: Bootstrap

#281 readme güncellendi
  bootstrap/içerikler.md
Labels: Bootstrap

#269 Javascript
  javascript/javascript-temel/formlarla-calismak-bolum-sonu-egzersizi/README.md
  javascript/javascript-temel/formlarla-calismak-bolum-sonu-egzersizi/figures/formfilled.png
  javascript/javascript-temel/formlarla-calismak-bolum-sonu-egzersizi/figures/forminitial.png
  javascript/javascript-temel/formlarla-calismak-bolum-sonu-egzersizi/figures/invalidinput.png
  javascript/javascript-temel/formlarla-calismak-bolum-sonu-egzersizi/figures/jscodesnippet.png
Labels: JavaScript

#264 Açıklamalar eklendi
  javascript/javascript-temel/javascript-nedir/README.md
  javascript/javascript-temel/javascript-nedir/figures/brenden-eich.jpg
  javascript/javascript-temel/javascript-nedir/figures/java-javascript.png
  javascript/javascript-temel/javascript-nedir/figures/javascript-logo.png
  javascript/javascript-temel/javascript-nedir/figures/js-backend-frameworks.jpg
  javascript/javascript-temel/javascript-nedir/figures/js-desktop-frameworks.jpg
  javascript/javascript-temel/javascript-nedir/figures/js-frontend-frameworks.jpg
  javascript/javascript-temel/javascript-nedir/figures/js-game-frameworks.jpg
  javascript/javascript-temel/javascript-nedir/figures/js-ml-dl-ai-frameworks.jpg
  javascript/javascript-temel/javascript-nedir/figures/js-mobile-frameworks.jpg
  javascript/javascript-temel/javascript-nedir/figures/nodejs-logo.png
  javascript/javascript-temel/javascript-nedir/figures/ryan-dahl.jpg
  javascript/javascript-temel/javascript-nedir/figures/website-structure.jpg
  javascript/javascript-temel/javascript-nedir/figures/www-core-html-css-js.png
Labels: JavaScript

#265 The article is completed.
  javascript/javascript-temel/degisken-tanimlama-kurallari/README.md
  javascript/javascript-temel/degisken-tanimlama-kurallari/figures/confetti.gif
  javascript/javascript-temel/degisken-tanimlama-kurallari/figures/javascript-degisken-tanimlama2.jpg
  javascript/javascript-temel/degisken-tanimlama-kurallari/figures/javascript.jpg
  javascript/javascript-temel/degisken-tanimlama-kurallari/figures/source2.gif
  javascript/javascript-temel/readme.md
Labels: JavaScript

#261 Update README.md
  html/README.md
  html/i̇skeletinin-genel-yapisini-anlamak/README.md
  html/linklerle-calismak/README.md
  html/odev3/README.md
Labels: HTML

#336 readme güncellendi
  css/odev1/README.md
  css/odev2/README.md
Labels: CSS

#338 readme güncellendi
  bootstrap/odev1/README.md
  bootstrap/odev2/README.md
Labels: Bootstrap

#340 readme güncellendi
  git/odev1/README.md
Labels: GIT

#343 Update README.md
  javascript/javascript-temel/nesnelere-nasil-metot-ekleriz/README.md
Labels: JavaScript

#321 Javascript
  javascript/javascript-temel/form-ve-form-submit-yonetimi/README.md
  javascript/javascript-temel/form-ve-form-submit-yonetimi/figures/methotget.png
Labels: JavaScript

#283 Update README.md
  javascript/javascript-temel/karsilastirma-operatorleri-ve-mantiksal-operatorler/README.md
Labels: JavaScript

#300 Update README.md
  javascript/javascript-temel/dizi(array)-olusturmak-ve-dizi-i̇cindeki-elemanlara-ulasmak/README.md
Labels: JavaScript

#312 Made a quiz
  javascript/javascript-temel/object-ve-array-destructuring-kullanimi/README.md
Labels: JavaScript

#262 TCP ve Browsers
  basics-for-everyone/Browsers/figures/render_motoru_akis.PNG
  basics-for-everyone/Browsers/figures/tarayici_bilesenler.PNG
  basics-for-everyone/Browsers/readme.md
  basics-for-everyone/TCP/figures/3_way_handshake.png
  basics-for-everyone/TCP/figures/TCP_cs50.PNG
  basics-for-everyone/TCP/readme.md
  basics-for-everyone/readme.md
Labels: Basic for Everyone

#390 içerikler.md oluşturuldu
  editor-kullanimi/visual-studio-code/içerikler.md
  editor-kullanimi/visual-studio-code/terminal-kullanimi/readme.md
  editor-kullanimi/visual-studio-code/visual-studio-code-nedir/readme.md
  editor-kullanimi/visual-studio-code/vs-dosyalarla-calismak/readme.md
  editor-kullanimi/visual-studio-code/vs-genelgorunum/readme.md
  editor-kullanimi/visual-studio-code/vs-intellisense-emmet/readme.md
Labels: Basic for Everyone

#392 readme güncellendi
  editor-kullanimi/visual-studio-code/visual-studio-code-nedir/readme.md
  editor-kullanimi/visual-studio-code/vs-dosyalarla-calismak/readme.md
  editor-kullanimi/visual-studio-code/vs-genelgorunum/readme.md
Labels: Basic for Everyone

#395 Git
  git/git-proje-i̇cindeki-birden-fazla-dosyanin-versiyon-kontrol-sistemine-eklenebilmesi/README.md
  git/githuba-projemizin-eklenmesi-ve-diger-repo-hosting-web-platformlari/README.md
  git/gitignore-dosyasi-ne-i̇se-yarar-nasil-kullaniriz/README.md
Labels: GIT

#397 readme güncellendi
  editor-kullanimi/visual-studio-code/içerikler.md
  editor-kullanimi/visual-studio-code/terminal-kullanimi/readme.md
  editor-kullanimi/visual-studio-code/vs-coklu-imlec/readme.md
  editor-kullanimi/visual-studio-code/vs-eklentiler/readme.md
  editor-kullanimi/visual-studio-code/vs-intellisense-emmet/readme.md
  editor-kullanimi/visual-studio-code/vs-panellerinyonetimi/readme.md
Labels: Basic for Everyone

#398 readme güncellendi
  editor-kullanimi/visual-studio-code/diger-kod-editorleri/readme.md
  editor-kullanimi/visual-studio-code/terminal-kullanimi/readme.md
  editor-kullanimi/visual-studio-code/vs-ayarlarin-kisisellestirilmesi/readme.md
  editor-kullanimi/visual-studio-code/vs-klavye-kisayollari/readme.md
  editor-kullanimi/visual-studio-code/vs-snippets-kullanimi/readme.md
Labels: Basic for Everyone

#399 Html
  html/baslik-etiketleri-kullanimi/README.md
  html/basliklar-ve-paragraflarla-calismak/README.md
  html/diger-html-etiketleri-hakkinda/README.md
  html/emmet-ile-daha-hizli-html-yapilari-olusturmak/README.md
  html/en-cok-kullanilan-html-etiketleri-nelerdir/README.md
  html/listelerle-calismak/README.md
  html/vs-code-ile-calismak-ve-i̇lk-html-sayfasinin-web-tarayicida-gosterilmesi/README.md
Labels: HTML

#400 Javascript
  javascript/javascript-temel/boolean-veri-turu-i̇le-calismak/README.md
  javascript/javascript-temel/fonksiyon-nedir-neden-kullaniriz/README.md
  javascript/javascript-temel/form-ve-form-submit-yonetimi/README.md
  javascript/javascript-temel/içerikler.md
  javascript/javascript-temel/javascript-nedir/README.md
  javascript/javascript-temel/karsilastirma-operatorleri-ve-mantiksal-operatorler/README.md
  javascript/javascript-temel/localstorage-icerisine-farkli-turde-veriler-eklemek/README.md
  javascript/javascript-temel/localstorage-ile-veri-eklemek-duzenlemek-ve-silmek/README.md
  javascript/javascript-temel/string-veri-turu-i̇slemleri/README.md
Labels: JavaScript

#401 readme güncellendi
  basics-for-everyone/algoritma/readme.md
  basics-for-everyone/pseudocode/README.md
  basics-for-everyone/pseudocode/figures/örnek.png
  editor-kullanimi/visual-studio-code/içerikler.md
Labels: Basic for Everyone

#403 Basics
  basics-for-everyone/algoritma/readme.md
  basics-for-everyone/içerikler.md
  basics-for-everyone/pseudocode/README.md
  editor-kullanimi/visual-studio-code/diger-kod-editorleri/readme.md
  editor-kullanimi/visual-studio-code/içerikler.md
  editor-kullanimi/visual-studio-code/terminal-kullanimi/readme.md
  editor-kullanimi/visual-studio-code/visual-studio-code-nedir/readme.md
  editor-kullanimi/visual-studio-code/vs-dosyalarla-calismak/readme.md
  editor-kullanimi/visual-studio-code/vs-eklentiler/readme.md
  editor-kullanimi/visual-studio-code/vs-genelgorunum/readme.md
  editor-kullanimi/visual-studio-code/vs-intellisense-emmet/readme.md
  editor-kullanimi/visual-studio-code/vs-klavye-kisayollari/readme.md
  editor-kullanimi/visual-studio-code/vs-snippets-kullanimi/readme.md
Labels: Basic for Everyone

#404 Basics
  basics-for-everyone/DNS/readme.md
  basics-for-everyone/IP/readme.md
  basics-for-everyone/TCP/readme.md
  basics-for-everyone/algoritma/readme.md
  basics-for-everyone/domain-name/readme.md
  basics-for-everyone/fiziksel-elemanlar/readme.md
  basics-for-everyone/google/README.md
  basics-for-everyone/hosting/readme.md
  basics-for-everyone/http-html-giris/readme.md
  basics-for-everyone/http/readme.md
  basics-for-everyone/internet-nedir/readme.md
  basics-for-everyone/internet-sifreleme/readme.md
  basics-for-everyone/ipadres-dns-giris/readme.md
  basics-for-everyone/içerikler.md
  basics-for-everyone/paketler-yonlendirmeler/readme.md
  basics-for-everyone/pseudocode/README.md
  basics-for-everyone/siber-guvenlik/readme.md
Labels: Basic for Everyone

#409 readme güncellendi
  basics-for-everyone/Browsers/readme.md
  basics-for-everyone/algoritma/readme.md
  basics-for-everyone/fiziksel-elemanlar/readme.md
  basics-for-everyone/google/README.md
  basics-for-everyone/hosting/readme.md
  basics-for-everyone/http-html-giris/readme.md
  basics-for-everyone/http/readme.md
  basics-for-everyone/internet-nedir/readme.md
  basics-for-everyone/internet-sifreleme/readme.md
  basics-for-everyone/ipadres-dns-giris/readme.md
  basics-for-everyone/paketler-yonlendirmeler/readme.md
  basics-for-everyone/platformların-önemi/readme.md
  basics-for-everyone/pseudocode/README.md
  basics-for-everyone/readme.md
  basics-for-everyone/siber-guvenlik/readme.md
  editor-kullanimi/visual-studio-code/terminal-kullanimi/readme.md
  editor-kullanimi/visual-studio-code/visual-studio-code-nedir/readme.md
  editor-kullanimi/visual-studio-code/vs-ayarlarin-kisisellestirilmesi/readme.md
  editor-kullanimi/visual-studio-code/vs-coklu-imlec/readme.md
  editor-kullanimi/visual-studio-code/vs-eklentiler/readme.md
  editor-kullanimi/visual-studio-code/vs-genelgorunum/readme.md
  editor-kullanimi/visual-studio-code/vs-panellerinyonetimi/readme.md
Labels: Basic for Everyone

#408 internet başlıkları için sorular
  basics-for-everyone/Browsers/readme.md
  basics-for-everyone/DNS/readme.md
  basics-for-everyone/IP/readme.md
  basics-for-everyone/TCP/readme.md
  basics-for-everyone/domain-name/readme.md
  basics-for-everyone/hosting/readme.md
  basics-for-everyone/http/readme.md
Labels: Basic for Everyone
